{% extends 'base.html.twig' %}

{% block title %}Edit Deelnemer{% endblock %}

{% block body %}
    <h1>Edit Deelnemer</h1>

    {{ include('deelnemer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deelnemer_index') }}">back to list</a>

    {{ include('deelnemer/_delete_form.html.twig') }}
{% endblock %}
